body {
    font: small-caps 15px Verdana;
    grid-gap: 10px;
    background-color: #d2f6f7
  
  }
  .jumbotron {
    color: #094444;
    text-shadow: 1px 1px 1px #bdbdbd;
    background-image: url("../images/header_image.jpg");
    background-size: 100%  100%;
    text-align: center;
  }
  