body {

    color: #94b8b8;
  }
  .jumbotron {
    background-image: url("https://scx1.b-cdn.net/csz/news/800a/2012/1-navelgazingr.jpg");
    background-size: 100% 100%;
    text-align: center;
  }
  