body {

    color: #94b8b8;
  }
  .jumbotron {
    background-image: url("https://media.npr.org/assets/img/2011/07/06/petridishes_custom-911200f7545e202f8913a4d5f6814d833db87fab-s800-c85.webp");
    background-size: 100% 100%;
    text-align: center;
  }
  